<div class="menu-dropdown pull-right">
    <ul>
        <li class="m-r-16" *ngIf="!hideFilterOption">
            <button class="btn btn-icon secondary rounded showFilterOptions"
                [title]="'actionbar.filterbutton.title' | trans" (click)="showFilterOptions = !showFilterOptions">
                <span aria-hidden="true" class="cm-icon cm-icon-filter"></span>
            </button>
        </li>
        <li>
            <button class="btn btn-cta-icon" [title]="'actionbar.addbutton.title' | trans" (click)="clicked()">
                <span class="cm-icon cm-icon-add" aria-hidden="true"></span>
            </button>
        </li>
    </ul>
</div>

<app-cm-filter [isActive]="showFilterOptions" (setFilterEvent)="applyFilterOptions()"
    (closeEvent)="showFilterOptions = false"></app-cm-filter>