<cm-dialog id="{{Id}}">
    <h3 slot="header" class="dialog-title" [innerText]="headerText | trans">
    </h3>
    <div slot="body" class="col-12">
        <label for="field" style="font-weight: 500;" [innerHtml]="bodyText"></label>
        <ng-container *ngIf="confirmCheckbox">
            <div class="row">
                <div class="form-group">
                    <div class="form-row">
                        <div class="form-check">
                            <label>
                                <input type="checkbox" [(ngModel)]="confirmCheckboxValue">
                                <span class="label">Confirm</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
    <div slot="footer">
        <button class="btn btn-secondary" (click)="cancel()"
            [innerText]="'confirmation.dialog.action.cancel' | trans"></button>
        <ng-container *ngIf="confirmCheckbox">
            <button class="btn btn-primary" (click)="confirm()" [disabled]="!confirmCheckboxValue" [innerText]="confirmText | trans"></button>
        </ng-container>
        <ng-container *ngIf="!confirmCheckbox">
            <button class="btn btn-primary" (click)="confirm()" [innerText]="confirmText | trans"></button>
        </ng-container>
    </div>
</cm-dialog>