<header class="container mb-3">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Page not found</h1>
        </div>
    </div>
</header>
<main class="container">
    <div class="row mb-3">
        <div class="col">
            <h2 class="text-center">
                <span class="fa fa-code"></span>
                Nope, nothing here...
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p><a href="/">Go back</a></p>
        </div>
    </div>
</main>