.joyride-modal .modal-header video {
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;

    border: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    background-color: #101E1E;
}

.joyride-modal .modal-content {
    padding: 0;
}

.joyride-modal .dialog-content {
    padding: 40px 0 40px 0;
}

.joyride-pagination {
    list-style: none;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.joyride-pagination > li {
    float: none;
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: #ebecee;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
}

.joyride-pagination > li.active {
    background-color: #101e1e;
}

.joyride-navigation-control {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.joyride-navigation-control > span {
    font-size: 24px;
    cursor: pointer;
    color: #9ca3ab;
}

.joyride-navigation-control:not(.disabled) > span {
    color: #101e1e;
}

.joyride-modal-skip {
    color: #1657EA;
    cursor: pointer;
    font-weight: 500;
}

@media (max-width: 576px) {
    .joyride-modal .modal-dialog {
        max-width: calc(100% - 80px);
        margin: 30px auto;
    }
}

@media (min-width: 576px) {
    .joyride-modal .modal-dialog {
        width: calc(100% - 80px);
        max-width: 600px;
        margin: 30px auto;
    }
}
