<div class="modal-backdrop fade show" (click)="handleClose()"></div>
<div class="modal joyride-modal show" *ngIf="activePage$ | async as activePage">
    <div class="modal-dialog">
        <div class="modal-content modal-lg">
            <div class="modal-header">
                <video [src]="activePage.page.videoUrl"
                    autoplay
                    loop
                    muted
                    oncanplay="this.play && this.play()"
                    onloadedmetadata="this.muted = true"></video>
            </div>

            <div class="dialog-content">
                <div class="dialog-body">
                    <div class="row">
                        <div class="col-2">
                            <div class="joyride-navigation-control" [class.disabled]="!activePage.hasPrevious" (click)="goToPrevious(activePage)">
                                <span class="cm-icon cm-icon-previous text-center" aria-hidden="true"></span>
                            </div>
                        </div>
                        <div class="col-8">
                            <h3 class="dialog-title">{{activePage.page.title | trans}}</h3>
                            <p>{{activePage.page.body | trans }}</p>
                        </div>
                        <div class="col-2">
                            <div class="joyride-navigation-control" [class.disabled]="!activePage.hasNext" (click)="goToNext(activePage)">
                                <span class="cm-icon cm-icon-next text-center" aria-hidden="true"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-2"></div>
                        <div class="col-8" style="display: flex">
                            <span (click)="handleClose()" class="joyride-modal-skip" *ngIf="activePage.hasNext">{{ "btn.skip" | trans }}</span>
                            <span (click)="handleClose()" class="joyride-modal-skip" *ngIf="!activePage.hasNext">{{ "btn.close" | trans }}</span>
                            <div style="flex: 1">
                                <ul class="joyride-pagination">
                                    <li *ngFor="let page of pages; let i = index" [class.active]="activePage.cursor === i" (click)="goToPage(i)"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
