<cm-filter data-title="{{'filterOptions.label' | trans}}" #cmFilter>
    <cm-filter-group data-title="{{'filterOptions.showOptions.label' | trans}}">
        <div class="form-group">
            <div class="form-row">
                <div class="form-radio" *ngFor="let option of showOptions | keyvalue; let i = index">
                    <input class="form-check-input" type="radio" name="filterOptionShow" id="filterOptionShow{{i}}"
                        [value]="option.value" [ngModel]="filterOptions.show"
                        (ngModelChange)="setFilter(option.value, null)">
                    <label class="form-check-label" for="filterOptionShow{{i}}"
                        [innerHtml]="'filterOptions.showOptions.' + option.value | trans"></label>
                </div>
            </div>
        </div>
    </cm-filter-group>
    <cm-filter-group data-title="{{'filterOptions.sortOptions.label' | trans}}">
        <div class="form-group">
            <div class="form-row">
                <div class="form-radio" *ngFor="let option of sortOptions | keyvalue; let i = index">
                    <input class="form-check-input" type="radio" name="filterOptionSort" id="filterOptionSort{{i}}"
                        [value]="option.value" [ngModel]="filterOptions.sort"
                        (ngModelChange)="setFilter(null, option.value)">
                    <label class="form-check-label" for="filterOptionSort{{i}}"
                        [innerHtml]="'filterOptions.sortOptions.' + option.value | trans">
                    </label>
                </div>
            </div>
        </div>
    </cm-filter-group>
</cm-filter>