<footer class="cm-action-footer" *ngIf="selected.length > 0">
    <div class="container m-t-0">
        <div class="row">
            <div class="col-9">
                <nav class="menu">
                    <ul>
                        <li>
                            <span class="cl-black-200 m-r-8" [innerHTML]="selected.length"></span>
                            <span class="cl-black-200 m-r-8" [innerHTML]="'footer.selected' | trans"></span>
                        </li>
                        <li>
                            <button (click)="selectAll()" class="btn btn-secondary"
                                [innerHTML]="'footer.selectAll' | trans"></button>
                        </li>
                        <li>
                            <button (click)="deselectAll()" class="btn btn-secondary"
                                [innerHTML]="'footer.deselectAll' | trans"></button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col-3 text-right">
                <nav class="menu">
                    <ul>
                        <li>
                            <button class="btn btn-secondary-icon" (click)="deleteSelected()">
                                <span class="cm-icon cm-icon-delete" aria-hidden="true"></span>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>