<div class="container">
    <div class="row">
        <div class="col">
            <div class="row component-top-section">
                <div class="col-12">
                    <h1 [innerHtml]="'Hello World'"></h1>
                    <div class="row action-bar">
                        <div class="action-bar-search col-8">
                            <div class="form-group">
                                <div class="form-row m-b-8">
                                    <div class="form-input-special">
                                        <input autocomplete="off" class="form-control" id="search"
                                            [placeholder]="'searchbox.placeholder' | trans" type="search">
                                        <span class="input-left icon">
                                            <span aria-hidden="true" class="cm-icon cm-icon-search"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="action-bar-options col-4">
                            <div class="menu-dropdown pull-right">
                                <ul>
                                    <li>
                                        <button class="btn btn-cta-icon" [title]="'actionbar.addbutton.title' | trans">
                                            <span class="cm-icon cm-icon-add" aria-hidden="true"></span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="row card-wrapper list-view m-t-24 m-b-24">
            <div class="card-container">
                <div class="card">
                    <div class="card-header">
                        <div class="meta-icon">
                            <span class="cm-icon cm-icon-language" aria-hidden="true"></span>
                        </div>
                        <div class="meta-title">
                            <span class="heading"></span>
                            <div class="sub-heading"></div>
                        </div>
                    </div>
                    <div class="card-media justify-content-end list d-none d-sm-flex">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="container">
        <cm-indicator></cm-indicator>
    </div>
</ng-template>